# Byte-compiled / optimized / DLL files
__pycache__
.pytest_cache

# Virtual environments
venv
.venv

# IntelliJ
.idea

# Project-specific Git commit message (to configure: git config commit.template .gitmessage)
.gitmessage
